.contaner{
  height: 100vh;
  background-image: url('../../../assets/pic/joanna-kosinska-7ACuHoezUYk-unsplash.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.main{
  display: flex;
  margin: auto !important;
  height: 91%;
}

@media (max-width: 600px){
.main{
  width: 100% !important;
}
.typo{
  font-size: 1.4rem !important;
  margin-bottom: 30px !important;
  text-align: start !important;
}
}
.hamburger{
 background-color: white;
}
