.contaner{
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.card-img-top{
  height:  150px
}

.main{
  display: flex;
  margin: auto !important;
  height: 91%;
}

@media (max-width: 600px){
.main{
  width: 100% !important;
}
.typo{
  font-size: 1.4rem !important;
  margin-bottom: 30px !important;
  text-align: start !important;
}
}
.hamburger{
 background-color: white;
}
