.contaner{
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.welcomebox{
  display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: auto; */
    margin-left: auto;
    width: 51%;
    margin-top: auto;

    margin-bottom: auto;
    height: 90vh;

}
.card
{
  background: transparent;
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;

}
.option{
  color: rgb(255 255 255)!important;
  display: flex !important;

  flex-direction: column;
}

.ol{
  padding: unset;
  list-style-type: none;
  list-style-type: none ;
   border: 1px solid white;
   border-radius: 4px; ;

}
.mb{
  margin-bottom: 30px !important;
}
