<div class="contaner">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 fw-bold" href="#" style="color: white;">Navbar</a>
      <button class="navbar-toggler" style="background-color: white;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-4 fw-bold" aria-current="page" href="#" style="color: white;">Home</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <ng-container *ngIf="!isQUizComplete">
    <div class="main row mt-lg-5 mt-2 mb-2 mx-0 px-0 ps-lg-5 px-lg-5 m-auto">
      <div
        class="welcomebox d-flex justify-content-center flex-column col-xxl-4 col-lg-6 col-md-5 col-sm-12 d-flex h-0 flex-column w-100 ">
        <div class="d-flex flex-column" style=" color: white;">
          <h1 class="fs-2  fw-bold">Welcome TO Quiz</h1>
          <p class="fs-4 fw-bold"> {{name}}</p>
          <h1 class="fs-4  fw-bold">Question: {{currentQuestion+1}} of {{questionList.length}}</h1>
        </div>
        <div class="question d-flex justify-content-center mb" style="color: white;">
          <div class="=card">
            <h3 class="fs-3 fw-bold">{{questionList[currentQuestion]?.questionText}}</h3>
          </div>
        </div>
        <div class="option d-flex justify-content-center ">
          <ol class=" w-50 ol m-auto mb" *ngFor="let option of questionList[currentQuestion]?.options">
            <li (click)="answer(currentQuestion+1,option)">
              <div appChangeBg [iscorrect]="option.correct" class="card fs-3">{{option.text}}</div>
            </li>
          </ol>
        </div>
        <div class="d-flex justify-content-between">
          <button [disabled]="currentQuestion===0" class="btn" (click)=" priviousQuestion()"><img style="width: 30px;"
              src="../../../assets/right-arrow (1).png" alt="" srcset=""></button>
          <button [disabled]="currentQuestion===questionList.length-1" class="btn" (click)=" nextQuestion()"> <img
              style="width: 30px;" src="../../../assets/right-arrow.png" alt="" srcset=""></button>
        </div>
      </div>
    </div>
  </ng-container>



  <ng-container *ngIf="isQUizComplete">
    <div class="main row mt-lg-5 mt-2 mb-2 mx-0 px-0 ps-lg-5 px-lg-5 m-auto">
      <div class="col-xxl-4 col-lg-6 col-md-5 col-sm-12 d-flex h-0 flex-column w-100 d-flex justify-content-center pt-2">
        <!-- <div class="d-flex flex-column w-50" style="color: rgb(255, 255, 255); border: 2px solid white;">

          <div class="d-flex p-3">
            <h1 class="fs-3 fw-bold mb-4 " style="background: black; color :white">
              LeaderBoard</h1>
          </div>
          <div class="d-flex p-4">
            <p class="w-100 fs-4 fw-bold">name</p>
            <p class="w-100 fs-4 fw-bold">score</p>
          </div>
          <div class="d-flex p-4">
            <p class="w-100 fs-4 fw-bold">Ajay</p>
            <p class="w-100 fs-4 fw-bold">9</p>
          </div>
          <div class="d-flex p-4">
            <p class="w-100 fs-4 fw-bold">{{name}}</p>
            <p class="w-100 fs-4 fw-bold">{{correctAnswer}}</p>
          </div>

        </div> -->
          <div class="d-flex flex-column p-1">
            <div class="d-flex justify-content-center">
              <img class="w-25 d-flex ma" style="margin: 0px 70%;  padding: 13px;" src="" alt=""
                srcset="">
            </div>
            <div class="d-flex flex-column" style="color:  white;">
              <div class="d-flex flex-column me-auto fs-4 fw-bold mb-5">
                <h1 class="fs-3 fw-bold mb-4" >Congratulations !! <br> You have
                  Compeleted the Quiz <br> Below is your result</h1>
                <p class="mb-4">Total Question :{{questionList.length}}</p>
                <p class="mb-4">Total Correct Answered:{{correctAnswer}}</p>
                <p class="mb-4">Total Wrong Answered:{{wrongAnswer}}</p>
                <p class="mb-4">Your Score:{{correctAnswer}}</p>
              </div>
              <div class="d-flex justify-content-end" >
                <button  class="fs-4 fw-bold btn btn2 btn-danger"
                  (click)="reset()">Reset</button>
              </div>
            </div>

          </div>
        </div>
      </div>
  </ng-container>
</div>
